<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css">
    <title>Title</title>
</head>
<body>
    <div class="top">
        <div class="podskazka">
            <p>Если не Нарек, нажми за 10 сек</p>
            <img src="static/strelka.png" alt="static/strelka.png">
        </div>
        <div class="buttons"><a href="/" class="top_button">Главная</a>
            <a href="/news" class="top_button">Новости</a>
            <a href="/help" class="top_button">Не нажимать!</a>
        </div>
    </div>
</div>
</body>
</html>